.header {
  background-color: var(--bg-header);
  padding: 1rem 10rem;
  border-bottom: 2px solid var(--brd-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--txt-color);
}

.header__logo a:hover {
  color: var(--btn-hover);
}
